head
  title HOME GOLF -TOP-
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='format-detection', content='telephone=no')
body
  article.wrapper
    section#firstview
      h1 HOME GOLF
      p.rank_btn
        a(href='./rank/') ランキングを見る
    section#about
      h2.under_line_1 HOME GOLFとは
      p.title_text
        | ゴルフがLOVEな人必見♪
        br
        | 自分の部屋でゴルフができるゴルフ好きにはたまらないwebアプリがH424で遊ぶことができます。
        br
        | 操作はとっても簡単なので、ゴルフ好きの方はもちろん、そうでない方もH424で楽しくゴルフをやりましょう！！
    section#flow
      h2.under_line_1 使い方
      .flow_detail.first
        h3
          span.number 1.
          | ゴルフスタート！
        p.image_wrap page1zw
        p.detail_text
          | TOPページのSTARTボタンからアプリを行うことができます。
      .flow_detail.second
        h3
          span.number 2.
          | ステージの選択
        p.image_wrap page2
        p.detail_text
          | まずは自分のプレイするステージを選択！
          br
          | コースによって難易度が変わるので、プレイしたいコースでゴルフをお楽しみください。
      .flow_detail.third
        h3
          span.number 3.
          | 使用するスキルの選択
        p.image_wrap page3
        .skill_wrap
          p.skill.skill_1
            span パワーショット
            | (打つ力が1.5倍)
          p.skill.skill_2
            span ノーリフレクション
            | (壁の反射回数を-10回)
          p.skill.skill_3
            span デカカップ
            | (カップの大きさを1.5倍にする)
          p.skill.skill_4
            span 晴れ男
            | (天気を晴れに固定)
        p の4つのスキルから選択することができます。
      .flow_detail.fourth
        h3
          span.number 4.
          | Let's play
        p.image_wrap page4
        p.detail_text
          | スキルを選択したらゴルフスタート！
          br
          | 操作はボールをスワイプするだけ！とっても簡単に遊べます。
      .flow_detail.fifth
        h3
          span.number 5.
          | 自分のスコアを確認
        p.image_wrap result
        p.detail_text
          | ゴルフが終わったらモニターをチェック！
          br
          | 自分のスコアが表示されます。
          br
          | スマートフォンサイトから全体のランキングも見ることができるので、自分のランキングもチェックしてください！！
    section#come
      h2
        | ブースは
        span.under_line_1 H424
        | です。
        br
        | ぜひお越しください。
      h3
        | 全体のランキングは
        br
        | こちらからCHECK！！
      p.rank_btn
        a(href='./rank/') ランキングを見る
