head
  title HOME GOLF -RANK-
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='format-detection', content='telephone=no')
body
  article.wrapper_rank
    section.firstview
      h1 HOME GOLF
      h2 -ランキング-
      p.scroll スクロールするとランキングもっと見れる！！
      ul#top-rank-list.top-rank-list
      p.rank_btn
        a(href='../') TOPへ戻る
    section.sub_contents
      h2.under_line_1 4 ~ 20 位
      ul#sub_rank.sub_rank
      h2.under_line_1 50 位
      ul#rank50th.rank50th
      h2.under_line_1 100 位
      ul#rank100th.rank100th
      p.rank_btn
        a(href='../') TOPへ戻る
