article.wrapper_rank
  section.firstview
    h1
      img(src='../img/T6.png', alt='HOME GOLF')
    h2 -ランキング-
    p.scroll スクロールするとランキングもっと見れる！！
    ul#top-rank-list.top-rank-list
    p.rank_btn
      a(href='./') TOPへ戻る
  section.sub_contents
    h2.under_line_1 4 ~ 20 位
    ul#sub_rank.sub_rank
    h2.under_line_1 50 位
    ul#rank50th.rank50th
    h2.under_line_1 100 位
    ul#rank100th.rank100th
    p.rank_btn
      a(href='./') TOPへ戻る
